.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.delete-button {
  cursor: pointer;
  height: 24px;
  width: 24px;
  margin-top: 8px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  align-items: center;
}

.comment-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.comment-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.comment-box {
  appearance: none;
  border-radius: 1em;
  border-color: transparent;
  resize: none;
  background-color: #1e293b;
  outline: none;
  padding: 1em;
}

.buttons {
  grid-area: 2/1/-1/-1;
  display: flex;
  gap: 1em;
  justify-content: space-between;
}

.item-container {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: 1em;
  background-color: #475569;

  .item-header {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
  }
  .item-content {
    padding: 1em;
  }

  .item-footer {
    display: flex;
    justify-content: space-between;
  }
}
.item-title {
  margin-right: auto;
}

.profile-icon {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  border: 1px solid white;
  object-fit: cover;
}
