.container {
  align-self: center;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 1em;
  padding: 1em;
  background: linear-gradient(71deg, #374151, #4b5563);
  border-radius: 1em;
  box-shadow: 10px 10px #9ca3af;
  border: 1px solid #94a3b8;
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  align-items: center;
  padding-bottom: 1em;
  border-bottom: 1px solid #475569;
}

.title {
  font-size: x-large;
  font-weight: 600;
  margin-right: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.profile {
  display: flex;
  gap: 1em;
  align-items: center;
}

.profile-main {
  cursor: pointer;
  display: flex;
  gap: 1em;
  align-items: center;
  background-color: #134e4a;
  padding: 0.5em 0.8em;
  border-radius: 2em;
  font-weight: 300;
  transition: background-color 0.2s ease;
}

.profile-main:hover {
  background-color: #0f766e;
}

.profile-icon {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  border: 1px solid white;
  object-fit: cover;
}

.like-button {
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.delete-button,
.verify-follow-button,
.verify-like-button,
.detail-button {
  cursor: pointer;
  height: 24px;
  width: 24px;
  margin-top: 8px;
}

.detail-button {
  color: white;
}

.like-status {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.text-content {
  word-break: break-all;
  padding: 1em;
  border-radius: 1em;
}

.footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #475569;
  padding-top: 1em;
}

.date {
  word-break: break-all;
}

.follow-button {
  display: flex;
  padding: 0.2em 0.5em;
  color: white;
  background-color: #1f2937;
  border-radius: 0.5em;
  cursor: pointer;
}

.follow {
  color: white;
  background-color: #2eb82e;
  border-color: #2eb82e;
}
