.container {
  align-self: center;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 1em;
  padding: 1em;
  background-color: #525252;
  border-radius: 1em;
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  align-items: center;
  padding-bottom: 1em;
  border-bottom: 1px solid white;
}

.title {
  font-weight: 300;
  font-size: x-large;
  margin-right: auto;
}

.profile {
  display: flex;
  gap: 1em;
  align-items: center;
}

.profile-icon {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  border: 1px solid white;
  object-fit: cover;
}

.like-button {
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.delete-button {
  cursor: pointer;
  height: 24px;
  width: 24px;
  margin-top: 8px;
}

.like-status {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  gap: 1em;
}

.text-content {
  word-break: break-all;
  padding: 1em;
  border: 1px white solid;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.date {
  word-break: break-all;
}

.follow-button {
  display: flex;
  padding: 0.2em 0.5em;
  color: white;
  background-color: #1f2937;
  border-radius: 0.5em;
  cursor: pointer;
}

.follow {
  color: white;
  background-color: #2eb82e;
  border-color: #2eb82e;
}
