.container {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.profile-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  background-color: #500724;
  box-shadow: 10px 10px #fda4af;
  border-radius: 1em;
}

.form-input-field {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-button {
  padding: 0.5em 1em;
  background-color: #9f1239;
  border-color: transparent;
}

.form-button:hover {
  background-color: #e11d48;
}
