.container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.post-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-height: 66vh;
  overflow-y: auto;
  align-items: center;
}

.post-list {
  display: flex;
  flex-direction: column;
}
