.container {
  height: 37vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.profile-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  background-color: #52525b;
  border-radius: 1em;
}

.form-input-field {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-button {
  padding: 0.5em 1em;
  background-color: #1e293b;
  border-color: transparent;
}

.form-button:hover {
  background-color: #475569;
}
